#avatar-preview{
    height:80px;
}

main{
    width: 800px;
    max-width: 95%;
    margin: auto;
}

#inputFile{
    display: block;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}

label[for="inputFile"]{
    display: block;
    margin-top:10px;
    margin-bottom:10px;
}

#wrapper{
    display: block;
    width: 100%;
}

label[for="userImage"]{
    display: block;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #4DBAFF;
    border-radius:2px;
    height:46px;
}



.recent-avatar{
    max-height: 100%;
}

.recent-avatar-label{
    float: left;
    margin-top:15px;
    margin-right:15px;
    height:50px;
    width: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.recent-avatar-label:hover{
    cursor: pointer;
}

.recentAva{
    display: none;
}

#saveButton{
    display: block;
    width: 100%;
}