body{
    margin:0;
    padding: 34px 0 0;
    background:rgba(213,243,255,0.96);
    overflow: auto;
    min-height: calc(100vh - 34px);
}

header{
    width: 100vw;
    background-color:#333;
    position:fixed;
    top:0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(98,98,105,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(98,98,105,1);
    box-shadow: 0px 2px 5px 0px rgba(98,98,105,1);
    z-index: 1000;
}

nav{
    background-color:#333;;
    width:840px;
    max-width: 100%;
    margin:auto;
}

text, p, label, span, input, li, a, time, h1, h2, h3, summary{
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer{
    width: 100vw;
    background:#333;
}

#social-media{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 auto;
    height: 50px
}

.social-image{
    width: 40px;
}

footer > p{
    width: 300px;
    margin: 0 auto;
    color:whitesmoke;
    text-align: center;
    padding:10px;
}

.menulist{
    padding:0;
    margin:0;
}

nav > a{
    font-size: 20px;
}

.menuitem{
    float: left;
    list-style: none;
    margin:0;
    text-decoration:none;
}

.newpost{
    background-color:rgba(42,158,172,0.96);
}

.rightmenuitem{
    float: right;
    list-style: none;
    margin:0;
    text-decoration:none;
}


.menulink:hover{
    background-color:rgba(119, 120, 124, .80);
    color:white;
    text-decoration:none;
    transform: scale(1.05);
    transition:all 0.3s;
}

.newpost:hover{
    background-color:rgba(42,158,172,0.96);
    color:white;
    text-decoration:none;
}


.menulink{
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display:inline-block;
    color: white;
}

.user-img{
    width: 100px;
    height: 100px;
    float: left;
}

.inner-img{
    max-height: 100%;
    max-width: 100%;
}

#username{
    padding-left:5px;
}

#profile-list-element{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
}
#profile-avatar{
    height: 20px;
    padding:2px;
}

.droplist{
    background:#333;
    display: none;
    position: absolute;
    right:0;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#dropdown{
    position: relative;
}

#dropdown:hover > .droplist{
    display: block;
}

#dropdown:hover{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.menulink-dropdown{
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    padding:5px;
    margin:5px;
    width: calc(100% - 20px);
    color: white;
    display: block;
}

.menulink-dropdown:hover{
    background-color:rgba(119, 120, 124, .80);
    text-decoration:none;
    transform: scale(1.05);
    transition:transform 0.3s;
}

.fa-plus-square-o{
    padding-left:5px;
    font-size: 10px;
}

.fa-search-o{
    font-size: 18px;
}

#search-form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height:24px;
    border-radius:2px;
    overflow: hidden;
    margin:5px;
}

#search-input{
    width: 100%;
    height: 100%;
    padding-left:5px;
    background: rgba(234,244,255,0.96);
    border: none;
}

#submit-search{
    display: none;
}

label[for="submit-search"]{
    width: 50px;
    height: 100%;
    border: none;
    border-radius: 0;
    background:silver;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

label[for="submit-search"]{
    cursor: pointer;
}


#menu-logo{
    height: 26px;
    float: left;
    padding:4px;
}
