/* This file serves as a style for both new_post.php and edit_post.php */

body{
    overflow: auto;
}

main{
    overflow: auto;
    width: 100vw;
}

/* Styles the register form */
#post-form{
    width: 600px;
    margin: 10vh auto 50px;
    max-width: 100%;
    border: 1px solid silver;
    border-radius:2px;
    box-shadow: 0 0 30px -4px rgba(153,133,153,1);
    background-color:#f8f9fd;
    overflow: auto;
    padding: 30px;
    box-sizing: border-box;
}

#title{
    max-width: 100%;
    display: block;
    padding:10px;
    width: 100%;
    box-sizing: border-box;
}



#description{
    min-height: 100px;
    display: block;
    margin: auto;
    padding:10px;
    width: 100%;
    box-sizing: border-box;
    border:1px solid silver;
    outline: none;
}


input[type="file"] {
    display: none;
}

label[for="file-upload"] {
    border: 1px solid silver;
    border-radius: 2px;
    padding: 6px 12px;
    cursor: pointer;
    margin-top:20px;
    margin-bottom:20px;
    display: block;
}

#file-label-contents{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 130px;
    max-width: 100%;
}

.inputlabel{
    display:block;
    margin-top:20px;
    width: 100%;
    box-sizing: border-box;
}

#preview{
    max-width:100%;
    overflow: auto;
    display: none;
    margin: 20px auto 10px;
}

#upload-icon{
    height: 20px;
}

.sub-form-button{
    display:block;
    float: right;
    padding:6px 12px;
    background-color:black;
    color:white;
    border:1px solid silver;
    border-radius:2px;
    cursor:pointer;
}

#delete-button{
    display:block;
    float:left;
    padding:6px 12px;
    background-color:#fa5c6a;
    border:1px solid silver;
    border-radius:2px;
    cursor:pointer;
}

.success-message{
    display: block;
    width: 100%;
    color:#53c6f6;
    margin: 20px auto 0;
}

.error-message{
    display: block;
    width: 90%;
    color:#fa5c6a;
    padding-top:5px;
    margin: 0;
}



#tags-summary{
    outline: none;
}

.tag-label{
    border-radius: 2px;
    padding:5px;
    margin:5px;
    float: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background:rgba(213,243,255,0.96);
}

.tag-label:hover{
    cursor: pointer;
}

.info{
    margin-top:20px;
}

input[type=checkbox]{
    display: none;
}

.form-title{
    font-size: 18px;
    margin-top:0;
}

input[type=checkbox]:checked + label {
    background-color:rgba(42,158,172,0.96);
    color:white;
    box-shadow: 0 0 30px -4px rgba(153,133,153,1);
}

#nsfw{
    display: inline-block;
}

#buttons{
    padding-top:20px;
    overflow: auto;
    width: 100%;
}


@media(max-width: 500px){
    #post-form{
        padding:10px;
        margin-top:10px;
        box-sizing: border-box;

    }
}

