body{
    overflow: auto;
}

main{
    overflow: auto;
}

/* Styles the register form */
#post-form{
    width: 600px;
    margin: 10vh auto 50px;
    max-width: 100%;
    border: 1px solid silver;
    border-radius:2px;
    -webkit-box-shadow: 0 0 30px -4px rgba(153,133,153,1);
    -moz-box-shadow: 0 0 30px -4px rgba(153,133,153,1);
    box-shadow: 0 0 30px -4px rgba(153,133,153,1);
    background-color:#f8f9fd;
    overflow: auto;
    padding: 30px;
    box-sizing: border-box;
}

#title{
    max-width: 100%;
    display: block;
    padding:10px;
    width: 100%;
    box-sizing: border-box;
}



#description{
    width: 100%;
    height: 200px;
    display: block;
    margin: 0px auto 10px;
    padding:10px;
}


input[type="file"] {
    display: none;
}

label[for="file-upload"] {
    border: 1px solid silver;
    border-radius: 2px;
    padding: 6px 12px;
    cursor: pointer;
    margin-top:20px;
    display: block;
}

#file-label-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    max-width: 100%;
}

.inputlabel{
    display:block;
    margin-top:20px;
    width: 100%;
    box-sizing: border-box;
}

#preview{
    max-width:100%;
    overflow: auto;
    margin: 20px auto 0;
    display: none;
}

#upload-icon{
    height: 20px;
}

.sub-form-button{
    display:block;
    float: right;
    padding:6px 12px;
    background-color:black;
    color:white;
    border:1px solid silver;
    border-radius:2px;
    cursor:pointer;
}

#delete-button{
    display:block;
    float:left;
    padding:6px 12px;
    background-color:#fa5c6a;
    border:1px solid silver;
    border-radius:2px;
    cursor:pointer;
}

.success-message{
    display: block;
    width: 100%;
    color:#53c6f6;
    margin: 20px auto 0;
}

.error-message{
    display: block;
    width: 90%;
    color:#fa5c6a;
    margin: 20px auto 0;
}



#tags-summary{
    outline: none;
}

.tag-label{
    border-radius: 2px;
    padding:5px;
    margin:5px;
    float: left;
    transition: all 0.2s;
    background:rgba(213,243,255,0.96);
}

.tag-label:hover{
    cursor: pointer;
}

input[type=checkbox]{
    display: none;
} 

input[type=checkbox]:checked + label {
    background-color:rgba(42,158,172,0.96);
    color:white;
    -webkit-box-shadow: 0 0 30px -4px rgba(153,133,153,1);
    -moz-box-shadow: 0 0 30px -4px rgba(153,133,153,1);
    box-shadow: 0 0 30px -4px rgba(153,133,153,1);
}

#buttons{
    padding-top:20px;
    overflow: auto;
    width: 100%;
}


@media(max-width: 500px){
    #post-form{
        padding:2px;
    }
}

