.password-form{
    width: 300px;
    margin: 20vh auto 0;
    max-width: 100%;
    border: 1px solid silver;
    border-radius:2px;
    padding-bottom:15px;
    box-shadow: 0px 0px 30px -4px rgba(153,133,153,1);
    background-color:#f8f9fd;
    overflow: auto;
}

.input-field{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    width:270px;
    display: block;
    margin: 0 auto;
    padding:5px;
    max-width: 100%;
    border: 1px solid grey;
    border-radius:2px;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}


/* Styles the input labels */
.inputlabel{
    width:270px;
    display: block;
    margin: auto;
    margin-top:10px;
    font-size: 12px;
    max-width: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.infoMessage{
    width: 90%;
    display: block;
    margin:0 auto;
    margin-top:10px;
}

.submit-button{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    display:block;
    margin-left:5%;
    border:none;
    background:lightcyan;
    padding:5px;
    margin-top:10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius:3px;
}

.submit-button:hover{
    cursor: pointer;
}